
<main>
    <section class="cart__top section">
        <div class="cart__top__container container">
            <h1 class="section__title">shopping cart</h1>
            <div class="overflow">
                <table class="cart__table">
                    <thead>
                    <th>Product</th>
                    <th>name</th>
                    <th>price</th>
                    <th>quuantity</th>
                    <th>total</th>
                    <th>remove</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="cart__img" src="~/images/zapatilla2.png" alt=""></td>
                            <td>Nike Air Max 95</td>
                            <td>$130.00</td>
                            <td><input class="prodetails__input" type="number" value="1"></td>
                            <td>$130.00</td>
                            <td><i class='bx bx-trash'></i></td>
                        </tr>
                        <tr>
                            <td><img class="cart__img" src="~/images/cart2.jpg" alt=""></td>
                            <td>Nike Air Max 95</td>
                            <td>$130.00</td>
                            <td><input class="prodetails__input" type="number" value="1"></td>
                            <td>$130.00</td>
                            <td><i class='bx bx-trash'></i></td>
                        </tr>
                        <tr>
                            <td><img class="cart__img" src="~/images/cart12.jpg" alt=""></td>
                            <td>Nike Air Max 95</td>
                            <td>$130.00</td>
                            <td><input class="prodetails__input" type="number" value="1"></td>
                            <td>$130.00</td>
                            <td><i class='bx bx-trash'></i></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


    </section>
    <section class="cart__bottom section">
        <div class="cart__bottom__container container grid">
            <div class="cart__data">
                <div class="cart__data1">
                    <label for="code">Promo code</label>
                    <input type="text" placeholder="enter the code">
                    <input class="btn__cart__input" type="button" value="apply descount">
                </div>
                <div class="cart__data1">
                    <label for="code">Direction</label>
                    <input type="text" placeholder="enter your direction">
                </div>
            </div>
            <div class="cart__info">
                <div class="cart__info-item">
                    <h2 class="cart__sub">descount</h2>
                    <span>00.00</span>
                </div>
                <div class="cart__info-item">
                    <h2 class="cart__sub">subtotal</h2>
                    <span>00.00</span>
                </div>
                <div class="cart__info-item">
                    <h2 class="cart__sub">total</h2>
                    <span>00.00</span>
                </div>

                <a href="#" class="btn__cart">checkout</a>
            </div>
        </div>

    </section>
</main>

