<main>
    <!-- -------------------------------HERO SECTION---------------------------------- -->
    <section class="hero">
        <div class="hero__container container grid">
            <div class="hero__img">
                <img src="~/images/bg1-removebg-preview (1).png" alt="">
            </div>
            <div class="hero__data">
                <h1 class="hero__title">Fall In Love With Accesories</h1>
                <a asp-controller="Product" asp-action="Index" class="btn btn__hero">SHOP NOW</a>
            </div>
        </div>
    </section>
    <!-- -------------------------------PRODUCT SECTION---------------------------------- -->

    <section class="product section ">
        <div class="products__container  container grid">
            <div class="product__banner grid">
                <div class="product__banner-item">
                    <h2 class="section__title_center">shoes & sneakers</h2>
                </div>
                <div class="product__banner-item">
                    <h2 class="section__title_center">clothes</h2>
                </div>
            </div>
            <div class="product__search">
                <div class="search">
                    <i class='bx bx-search search__icon'></i>
                    <input class="search__input" type="text" placeholder="search...">
                    <i class='bx bx-x close__icon'></i>
                </div>
                <div class="select">
                    <select class="select__item" name="category" id="category-select">
                        <option value="all">all</option>
                        <option value="shoes">Shoes</option>
                        <option value="clothes">clothes</option>
                    </select>
                    <select class="select__item" name="sortby" id="sortby-select">
                        <option value="shoes">top</option>
                        <option value="clothes">newest</option>
                    </select>
                </div>


            </div>

            <div class="product__items  grid">

                <div class="product__item">
                    <img class="product__img" src="~/images/zapatilla2.png" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a  class="btn btn__product" asp-controller="Home" asp-action="Index">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart2.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart3.png" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart4.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart5.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart6.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart7.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart8.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart9.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart10.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart11.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>

                <div class="product__item">
                    <img class="product__img" src="~/images/cart12.jpg" alt="">
                    <div class="product__data">
                        <div class="product__info">
                            <h2 class="product__title">Nike</h2>
                            <span class="product__price">$130.00</span>
                        </div>
                        <a href="#" class="btn btn__product">more</a>
                    </div>
                </div>
            </div>

            <div class="product__banner-new section">
                <h2 class="product__banner-title">new arrival</h2>
                <a href="#" class="btn btn__banner">click here</a>
            </div>
        </div>
    </section>
</main>
