
<main>
    <!-- -------------------------------PRODUCT DETAIL---------------------------------- -->
    <section class="login section">
        <div class="login__container container grid">
            <img src="~/images/login.jpg" alt="" class="login__img">
            <div class="login__data">
                <h1 class="login___title">WELCOME</h1>
                <form class="login__form" action="#">
                    <input class="login__email" type="email" name="email" id="email" placeholder="Acount email">
                    <input class="login__password" type="password" name="password" id="password" placeholder="Password">
                    <input class="login__btn" type="button" value="sing in">
                </form>
            </div>
        </div>

    </section>

</main>

